In [1]:
year=2024
print(year)

2024

In [3]:
car=2024
car="red"
print(car)

red

In [5]:
myName='peter'
print(myname)

NameError: name 'myname' is not defined

In [7]:
score=13
print(score)
print(SCORE)
PRINT(Score)

13

NameError: name 'SCORE' is not defined

In [11]:
my_name="nabiha"
print(my_name)

nabiha

In [13]:
12name = kuhu
print(12name)

SyntaxError: invalid decimal literal (3144434928.py, line 1)

In [15]:
$name=kiti
print($name)

SyntaxError: invalid syntax (1211718717.py, line 1)